*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.sneakers-style{
    width:20vw;
    height: 40vh;
}

.racket-design{
    width:20vw;
    height:40vh;
}

#bycicle_helmet_custom{
    width:20vw;
    height:40vh;
}

.bycicle_custom{
    width:20vw;
    height:40vh;
}

.products-custom{
    display:flex;
    justify-content: space-around;
}

.hero-style{
    background-color:red;
    width:100vw;
    height:30vh;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
}

.logo {
    width: 30%;
    margin-right: 300px;
}


button {
    height: 5vh;
    width: 5vw;
}

nav {
    display: flex;
    flex-direction: column;
    width: 100vw;

}

.navbuttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* gap: 150px; */
    width: 70%;
    padding: 35px;
}

.imgbutton {
    display: flex;
    /* gap: 400px; */
    justify-content: space-between;
    margin-right: 50px;
}
.footer {
    display: flex;
    justify-self: center;
}

.custom-bar-style{
    width: 85vw;
    height: 10vh;
    background-color: rgba(227, 215, 215, 0.842);
    border-radius: 7px;
    margin:5px;
    display:flex;
    align-items: center;
    justify-content:space-around;
}

.custon-bar-2{
    display: flex;
    justify-content: space-around;
}

.logo-image-style{
    display: flex;
    justify-content: center;
    align-items: center;
}

