*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
}

.navbuttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
    padding: 35px;
}

button {
    height: 5vh;
    width: 5vw;
}

.imgbutton {
    display: flex;
    gap: 400px;
    margin-right: 50px;
}

.logo {
    margin-right: 300px;
}

.hero-heading {
    display: flex;
    justify-content: center;
    font-size: 50px;
    width: 100vw;
}

.new-product {
    display: block;
}

.hero-section-h2 {
    display: flex;
    flex-direction: column;
    font-size: 75px;
    text-align: center;
}

.hero-section-p {
    display: flex;
    font-size: 50px;
}
.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 80px;
}


.footer {
    display: flex;
    justify-content: center;
    margin: 30px;
    font-size: 50px;
}

.nikes1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 25px;
}

.Jordans5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 25px;
    margin-right: 100px;
}

.shoestitle {
    display: flex;
    justify-content: center;
    font-size: 85px;
}

.nikesbutton {
    display: flex;
    width: 100px;
    height: 40px;
    justify-content: center;
}

.footerbuttons {
    display: flex;
    gap: 228px;
    flex-wrap: wrap;
}

.jordanbutton {
    display: flex;
    width: 500px;
    height: 200px;
}

.homebutton {
    background-color: #EFEFEF;
    border: 1px solid #767676;
    border-radius: 2px;
    width: 85px;
    height: 45px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.aboutbutton {
    background-color: #EFEFEF;
    border: 1px solid #767676;
    border-radius: 2px;
    width: 85px;
    height: 45px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewsbutton {
    background-color: #EFEFEF;
    border: 1px solid #767676;
    border-radius: 2px;
    width: 85px;
    height: 45px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
