.logo {
    margin-right: 300px;
}

nav {
    display: flex;
    flex-direction: row;
}

.navbuttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
    padding: 35px;
}

.imgbutton {
    display: flex;
    gap: 400px;
    margin-right: 50px;
}