*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.nav{
    display:flex;
    justify-content: flex-end;
}
.sportswear{
    background-color: grey;
    display:flex;
    flex-direction:row;
    width:100vw;
    height:30vh;
    flex:1;
}
.img1{
    display: flex;
    width:500px;
    height:250px;
}
.intro{
    display:flex;
    flex-direction: column;
}
.comment-style{
    background-color: red;
    display:flex;
    flex-direction: row;
    width:100vw;
    height:30vh;
}
.box-style{
    background-color: white;
    display:flex;
    justify-content: space-around;
    margin:40px;
    padding: 5px;
    width:30%;
    height:80%;
}
.img-style{
    background-color: grey;
    display: flex;
    flex-direction: row;
    width:100vw;
    height:30vh;
}