*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.sportswear{
    background-color: grey;
    display:flex;
    flex-direction:row;
    width:100vw;
    height:30vh;
    flex:1;
}
.img1{
    display: flex;
    width:50%;
    height:100%;
}
.intro{
    display:flex;
    flex-direction: column;
}
.comment-style{
    background-color: red;
    display:flex;
    flex-direction: row;
    width:100vw;
    height:30vh;
}
.box-style{
    background-color: white;
    display:flex;
    justify-content: space-around;
    margin:40px;
    padding: 5px;
    width:30%;
    height:80%;
    border:10px solid red;
}
.img-style{
    background-color: grey;
    display: flex;
    flex-direction: row;
    width:100vw;
    height:30vh;
}
.img-box{
    display: flex;
    width:30%;
    height:100%;
    border:10px solid grey;
}
.footer-style{
    display:flex;
    width:100vw;
    height:10vh;
    justify-content:space-around;
    flex-direction:column;
    flex:1;
    background-color: red;
}

.logo {
    margin-right: 300px;
}


nav {
    display: flex;
    flex-direction: row;
}


.navbuttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
    padding: 35px;
}


.imgbutton {
    display: flex;
    gap: 400px;
    margin-right: 50px;
}

.footer {
    display: flex;
    justify-content: center;
    margin: 30px;
    font-size: 50px;
    
}

.homebutton {
    background-color: #EFEFEF;
    border: 1px solid #767676;
    border-radius: 2px;
    width: 85px;
    height: 45px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.aboutbutton {
    background-color: #EFEFEF;
    border: 1px solid #767676;
    border-radius: 2px;
    width: 85px;
    height: 45px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.reviewsbutton {
    background-color: #EFEFEF;
    border: 1px solid #767676;
    border-radius: 2px;
    width: 85px;
    height: 45px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
